<!doctype html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>jam_login</title>
<style type="text/css">
.jam_page {
}
</style>
</head>

<body class="jam_login_page">

<img src="/image?name=JAMLAND_TITLE_SMALL.png"></img>
<h1>회원가입 하기</h1>    
<br></br>
    <form name="join_form" action="/join.do" method="post">
    <p>ID</p>    
    <input id="id_input" TYPE="text" STYLE="TEXT-ALIGN:LEFT" NAME="input_id" size="20" height="50"  ></input>
    <p>Password</p>    
    <input id="password_input" TYPE="text" STYLE="TEXT-ALIGN:LEFT" NAME="input_pw" size="20" height="50"  ></input>
    <p>NickName</p>    
    <input id="nickname_input" TYPE="text" STYLE="TEXT-ALIGN:LEFT" NAME="input_nick" size="20" height="50"  ></input>
    <p>E-mail</p>    
    <input id="email_input" TYPE="text" STYLE="TEXT-ALIGN:LEFT" NAME="input_mail" size="20" height="50"  ></input>
    <br></br><br></br>
    <input type="submit" value="회원가입"></input>
    </form>
<br></br><br></br><br></br>

<!--  
<a><img src="/image?name=join_icon.png"></img></a>
 -->

<script>
</script>
</body>
</html>
